.error {
    font-family: 'Inter', sans-serif;
    width: 85vw;
    max-width: 600px;
    background-color: var(--background-color--white_red);
    color: var(--text-color--black);
    border-radius: 20px;
    padding: 40px 60px;
    margin: 100px auto 0 auto;

    h1, h2, a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin: 0 auto;
    }

    h1 {
        color: var(--text-color--red);
        font-size: 32px;
        margin-bottom: 5px;
    }

    h2 {
        margin-bottom: 20px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color--white_green);
        color: var(--text-color--black);
        border-radius: 30px;
        padding: 15px 0;
    }
}

@media (max-width: 500px) {
    .error {
        padding: 40px 40px;
    }
}