.card {
    font-family: 'Inter', sans-serif;
    width: 200px;
    height: 250px;
    color: var(--text-color--black);
    background-color: var(--background-color--white_grey);
    border-radius: 10px;
    box-shadow: 0px 0px 0px #9c9c9c;
    padding: 10px;
    margin: 0 auto;
    transform: scale(1);
    transition: all 0.2s linear;

    &:hover {
        background-color: var(--background-color--white_grey-light);
        box-shadow: 0px 0px 15px #9c9c9c;
        transform: scale(1.02);
    }

    &__day,
    &__img,
    &__celsia,
    &__weather-info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }

    &__day {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__img {
        color: #74EEFF;
        font-size: 130px;
        border-radius: 40%;
        margin: 0 auto;
    }
    
    &__celsia {
        font-size: 32px;
        margin-bottom: 15px;
    }
}