.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    &__holder {
        width: 50vw;
        min-width: 250px;
        max-width: 400px;
        margin: 0 auto;
    }
    &__form {
    }
    &__input {
        display: flex;
        width: 100%;
        background-color: #D9E4E7;
        border-radius: 10px;
        font-size: 18px;
        padding: 15px;
        margin: 0 auto 10px auto;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #E3EDCD;
        color: #1C1C1C;
        font-size: 24px;
        border-radius: 10px;
        padding: 15px 0;
        margin: 20px auto 0 auto;
    }
    &__help {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        a {
            color: #233B90;
            text-decoration: underline;
        }
    }
}
