.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: var(--text-color--black);
    font-size: 32px;
    margin: 0 auto;
    transition: all 0.2s linear;

    &__holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 50px;
    }
    
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}