.main {
    color: var(--text-color);
    transition: all 0.2s linear;

    &__title {
        display: flex;
        justify-content: left;
        align-items: center;
        color: var(--text-color);
        font-size: 24px;
        font-weight: 600;
        margin: 0 auto 30px auto;
    }

    h1 {
        font-size: 32px;
        font-weight: 900;
    }

    &__info {
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 25px;

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    &__weather {
        display: flex;
        justify-content: center;
        align-items: center;

        &-info {
            display: block;
            margin-left: 50px;
        }
    }

    &__icon {
        font-size: 150px;
        margin-right: 50px;
    }

    &__temperature {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    &__temp {
        font-size: 96px;
        font-weight: 700;
    }

    &__celsia {
        font-size: 32px;
        font-weight: 600;
    }

    &__weather-title {
        font-size: 28px;
        font-weight: 500;
    }

    &__weather-description {
        max-width: 175px;
        font-size: 16px;
        font-weight: 400;
    }

    &__item-like {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        margin: 0 auto;

        &-icon {
            margin-right: 10px;
        }

        &-temperature {
            font-weight: 500;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .main {
        &__item {
            justify-content: center;
        }
    }
}