.footer {
    width: 100%;
    background-color: var(--background-color--header_footer);
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    padding: 22px 0;
    margin-top: 50px;
    transition: all 0.2s linear;

    a {
        color: #F2FFA4;
        text-decoration: underline;
    }

    &__holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}