.card {
    font-family: 'Inter', sans-serif;
    width: 125px;
    height: 180px;
    background-color: #A7B6CD;
    color: #1C1C1C;
    border-radius: 10px;
    padding: 10px;
    &:not(:last-child) {
        margin-right: 25px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 85px;
        color: #74EEFF;
        margin: 10px auto 0 auto;
    }
    &__time {
        font-size: 24px;
    }
    &__temp {
        font-size: 28px;
    }
}