.card {
    font-family: 'Inter', sans-serif;
    width: 125px;
    height: 180px;
    background-color: var(--background-color--white_grey);
    color: var(--text-color--black);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 85px;
        color: #74EEFF;
        margin: 10px auto 0 auto;
        transition: all 0.2s linear;
    }

    &__time {
        font-size: 24px;
        transition: all 0.2s linear;
    }

    &__temp {
        font-size: 28px;
        transition: all 0.2s linear;
    }
}