.toggleSwitch {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #90fff6 1px solid;
    border-radius: 3px;
    padding: 5px 10px;

    transition: all 0.2s linear;
    &:hover {
        border: #00ffea 1px solid;
    }

    &__checkbox {
        cursor: pointer;
        display: flex;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    &__text {
        font-weight: 500;
    }
}